@charset "utf-8";

.hover-zoom:hover {
    transform: scale(1.05);
    transition: transform 0.3s; /* ホバー時の拡大効果にトランジションを適用 */
}


[class*="sidebar-dark"] .form-control-sidebar {
    background-color: #f8f9fa;
    border: 1px solid #000;
    color: #000;
}

[class*="sidebar-dark"] .btn-sidebar,
[class*="sidebar-dark"] .form-control-sidebar {
    background-color: #f8f9fa;
    border: 1px solid #000;
    color: #000;
}



.error {
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
}

.recipe-container {
  position: relative; /* 相対配置 */
}

/* レシピのタイトル */
.recipe-title {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
  padding: 10px; /* テキストの周りに余白を追加 */
  top: 0;
  left: 14px;
  border-radius: 20% / 30%;
}

.recipe-ranking {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明の黒色 */
  padding: 10px; /* テキストの周りに余白を追加 */
  top: 28px;
  left: 14px;
  border-radius: 20% / 30%;
}
